<h1>検索結果</h1>
<body>
<!--%= will_paginate @users%>-->

<div class="search">
  <p>ユーザ検索</p>
<%= form_tag(search_path, :method => 'get' ) do %>
  <%= text_field_tag :keyword %>
  <%= submit_tag '検索', :name => nil %>
<% end %>
</div>




</div>

<!--<div class="col-md-10 col-md-offset-1">-->
  <table class="table table-condensed table-hover" id="table-users">

    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.owner? %>
            <%= link_to user.name, user %>
          <% else %>
            <%= user.name %>
          <% end %>
          
        </td>
          <% if current_user.owner? && !current_user?(user) %>
            <td>
              <%= link_to " | 基本情報編集", edit_basic_info_user_path(user), remote: true %>
              <%= link_to " | 削除", user, method: :delete,data: { confirm: "削除してよろしいですか？" } %>
            </td>
          <% end %>
        
      </tr>
    <% end %>
  </table>
<!--</div>-->

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

</body>