<% provide(:title, @user.name) %>

<%= form_with(model: @user, url: attendances_update_one_month_user_path(date: @first_day), local: true, method: :patch) do |f| %>
<div>
  <h1>勤怠編集画面</h1>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出勤時間</th>
        <th>退勤時間</th>
        <th>在社時間</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
    
    <% @attendances.each do |day| %>
          <%= f.fields_for "attendances[]", day do |attendance| %>
            <tr>
              <td><%= l(day.worked_on, format: :short) %></td>
              <!--<td>%= $days_of_the_week[day.worked_on.wday] %></td>-->
              
          <!--土日カラーリング-->
          <% if $days_of_the_week[day.worked_on.wday]=="日" %>
              <td class="sun"><%= $days_of_the_week[day.worked_on.wday] %></td>
          <% elsif $days_of_the_week[day.worked_on.wday]=="土" %>
              <td class="sat"><%= $days_of_the_week[day.worked_on.wday] %></td>
          <% else %>
              <td><%= $days_of_the_week[day.worked_on.wday] %></td>
          <%end%>
             
              <!--今日までの勤怠編集可-->
              <% if Date.current >= day.worked_on %>
              
                <% if !current_user.owner?  %>
                  <td><%= attendance.time_field :started_at,  class: "form-control" %></td>
                  <td><%= attendance.time_field :finished_at, class: "form-control" %></td>
                <% else %>
                  <td><%= attendance.time_field :started_at, class: "form-control" %></td>
                  <td><%= attendance.time_field :finished_at, class: "form-control" %></td>
                <% end %>
                
                <% if day.started_at.present? && day.finished_at.present? %>
                  <td><%= working_times(day.started_at, day.finished_at) %></td>
                <%else%>
                  <td></td>
                <% end %>
                
                <% if !current_user.owner?%>
                  <td><%= attendance.text_field :note, class: "form-control" %></td>
                <% else %>
                  <td><%= attendance.text_field :note, class: "form-control" %></td>
                <% end %>
              
              <!--今日以降の勤怠編集不可  readonly: trueで入力不可の制約-->
              <%else%>
                <td><%= attendance.time_field :started_at, readonly: true, class: "form-control" %></td>
                <td><%= attendance.time_field :finished_at, readonly: true, class: "form-control" %></td>
                <td></td>
                <td><%= attendance.text_field :note,readonly: true, class: "form-control" %></td>
             <% end %>
            </tr>
        <% end %>
     <% end %>
      </tbody>
    </table>
  </div>

<%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-lg btn-success" %>
<%= f.submit "編集を保存", class: "btn btn-lg btn-primary" %>

 <% end %>
 
 
  <!--% if !current_user.owner? && (Date.current < day.worked_on) %>-->
  <!--              <td>%= attendance.time_field :started_at, readonly: true, class: "form-control" %></td>-->
  <!--              <td>%= attendance.time_field :finished_at, readonly: true, class: "form-control" %></td>-->
                
  <!--            % else %>-->
  <!--              <td>%= attendance.time_field :started_at, class: "form-control" %></td>-->
  <!--              <td>%= attendance.time_field :finished_at, class: "form-control" %></td>-->
  <!--            % end %>-->
                
              
  <!--              % if day.started_at.present? && day.finished_at.present? %>-->
  <!--                <td>%= working_times(day.started_at, day.finished_at) %></td>-->
  <!--              %else%>-->
  <!--                <td></td>-->
  <!--              % end %>-->
  <!--           % if !current_user.owner? && (Date.current >= day.worked_on) %>-->
  <!--            <td>%= attendance.text_field :note,readonly: true, class: "form-control" %></td>-->
  <!--            % else %>-->
  <!--            <td>%= attendance.text_field :note, class: "form-control" %></td>-->
  <!--            < end %>-->
  <!--          </tr>-->
  <!--        < end %>-->
  <!--      % end %>-->
  <!--   % end %>-->
  <!--    </tbody>-->
  <!--  </table>-->